{
    "presets": [
        "es2015",
        "stage-0",
        "stage-1",
        "react"
    ],
    "env": {
        "production": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }
}
