{
    "presets": [
        "react",
        "env"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    },
    "plugins": [
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}
