.course-item {
    display: flex;
    flex: 1;
}

.course-item__label {
    flex: 5;

    &:before {
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }
}
.course-item__btn {
    flex: 1;
    max-width: 4rem;
}
