.header--action {
    display: flex;
    padding: 0 1rem;
    margin: 1rem 0 0 0;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.65);
}

.header--action__text {
    flex: 1 0;
}
