.panel--edit {

//    height: 100vh;

    width: 100%;

    &.collapsed {

        height: auto;
    }

    &.plain {
        height: auto;
    }
}

.panel--edit__btn {

}

.panel--edit__content {

    height: 100%;
    vertical-align: top;

    &.collapsed {

        height: auto;
    }
}
