.panel--edit {

    height: 100vh;

    width: 100%;

    &.collapsed {

        height: auto;
    }
}

.panel--edit__btn {

}

.panel--edit__content-container {

    &.hidden {

        display: none;
    }
}

.panel--edit__content {

    height: 100%;
    vertical-align: top;

    &.collapsed {

        height: auto;
    }
}
