.panel--edit {

    height: 100vh;
    display: table;
    width: 100%;

    &.collapsed {

        height: auto;
    }
}

.panel--edit__btn {

    display: table-row;
}

.panel--edit__content-container {

    display: table-row;

    &.hidden {

        display: none;
    }
}

.panel--edit__content {

    display: table-cell;
    height: 100%;
    vertical-align: top;

    &.collapsed {

        height: auto;
    }
}
