.splash {
    flex: 1;
    display: flex;
    text-align: center;
    background: linear-gradient(171deg, rgb(85, 177, 0) 0%, rgb(55, 116, 0) 100%);
    flex-direction: column;
    &:before {
        flex: 1;
        content: '';
    }
    &:after {
        flex: 1;
        content: '';
    }
}

.splash__title {
    position: relative;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    color: rgba(255,255,255,.8);
    text-shadow: 1px 2px 1rem rgb(30, 62, 0);
    margin-top: 24rem;
}
